<ion-header>
  <ion-navbar color="nav-bg">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{gameProvider.currentPlayer.name}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="page-content">
  <form>
    <ion-item text-center>
      <h3>Level</h3>
      <ion-icon name="remove" class="icon-left" (click)="changeLevel(gameProvider.currentPlayer.level-1)"></ion-icon>
      <span style="text-align:center;">{{gameProvider.currentPlayer.level}}</span>
      <ion-icon name="add" class="icon-right" (click)="changeLevel(gameProvider.currentPlayer.level+1)"></ion-icon>
    </ion-item>
    <ion-item text-center>
      <h3>Bonus</h3>
      <ion-icon name="remove" class="icon-left" (click)="changeBonus(gameProvider.currentPlayer.bonus-1)"></ion-icon>
      <span style="text-align:center;">{{gameProvider.currentPlayer.bonus}}</span>
      <ion-icon name="add" class="icon-right" (click)="changeBonus(gameProvider.currentPlayer.bonus+1)"></ion-icon>
    </ion-item>
    <ion-item no-lines text-center>
      <h3>Total</h3>
      <span>{{gameProvider.currentPlayer.level + gameProvider.currentPlayer.bonus}}</span>
    </ion-item>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col class="player-swipe" text-left  *ngIf="gameProvider.previousPlayer !== undefined && gameProvider.currentGame.players.length > 2">
        <button ion-button (click)="goToPrevious()">
          <ion-icon name="arrow-back"></ion-icon><span>&nbsp;&nbsp;&nbsp;{{gameProvider.previousPlayer.name}}</span>
        </button>
      </ion-col>
      <ion-col class="player-swipe" text-right *ngIf="gameProvider.nextPlayer !== undefined">
        <button ion-button (click)="goToNext()" >
          <span>{{gameProvider.nextPlayer.name}}&nbsp;&nbsp;&nbsp;</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>