page-player-details {
    .icon-left{
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px 80px 20px 20px;
    }
    .icon-right{
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 20px 20px 80px;
    }
    .player-swipe{
        font-size: 1.8rem;
        color: #f1f1f1; 
        button{
            min-width: 125px;
        }
    }
    .col{
        padding-right:0;
        padding-left: 0;
    }
    .grid{
        padding-right:0;
        padding-left:0;
    }
}