page-current-game {
    .avatar-icon{
        font-size: 2.0em;
    }
    .avatar-female{
        color: #e698b8;
    }
    .avatar-male{
        color: #23a2ff;
    }
    ion-row{
        border-top: 1px solid #bbbbbb;
        background: #ececec
    }
}
.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    .inner {
        align-self: center;
        padding: 2rem;
    }
  }
