// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "./theme/variables";

.page-content {
    background: $content-bg-color;
}

.card {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}

.alert-button {
    color: black !important;
}

.invalid {
    border: 1px solid #ea6153;
}

.error-text {
    color: #d13636 !important;
}

ion-label {
    min-width: 120px;
    color: black !important;
}

ion-item {
    background: $secondary-color !important;
}

.btn-icon {
    position: absolute !important;
    right: 10px !important;
}
ion-card {
    ion-row {
        background: $primary-color !important;
    }
}

[placeholder]{
    text-overflow:ellipsis;
}